* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media print {
    .botao-imprimir {
            display: none;
        }
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.question{
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    margin-bottom: 5px; /* Ajuste o valor conforme necessário */
}

.linha {
    border-top: 1px dashed #aaa; /* Espessura, estilo e cor da linha */
    width: 100%; /* Largura da linha */
    margin: 20px auto; /* Centraliza a linha na página */
}